.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 5px;
    padding: 0;
}
.ch:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}